body {
    background-color: #1c1f2b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
  }
  
  header h1 {
    margin-bottom: 100px;
  }
  
  canvas {
    max-width: 600px;
    margin: auto;
  }
  