body {
    background-color: #1c1f2b;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
  }
  
  header h1 {
    margin-bottom: 100px;
  }
  
  canvas {
    max-width: 600px;
    margin: auto;
  }
  
  input[type="range"]#sliderFechaMax {
    accent-color: #4caf50;
    margin: 0 10px;
    vertical-align: middle;
  }
  #sliderFechaMaxLabel {
    font-size: 1.1em;
    color: #ffd700;
  }
  #filtroFechaTablaGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
